body{
    margin: 0;
    font-family: 'Open Sans', 'sans-serif';
    background-image: url(./img/pokeballs/pokeballs_background.png);
    background-size: 150px;
}

.headerSection{
    background-color: #E41F25;
    padding: 16px;
    display: flex;
    justify-content: center;
    box-shadow: 10px 10px 8px 10px rgba(0, 0, 0, 0.2);
    position: fixed;
    width: 100%;
    padding: 16px 0 16px 0;
    z-index: 1;
}

.headerContent{
    display: flex;
    justify-content: space-between;
    max-width: 1440px;
    width: 100%;
}

.headerSection img{
    height: 100px;
}

.searchField{
    display: flex;
    align-items: center;
}

.searchField input{
    height: 25px;
    margin-right: 8px;
}

.searchField img{
    height: 32px;
    padding: 8px;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 100%;
}

.searchField img:hover{
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 100%;
}

/* #pokedex{
    min-height: 50vh;
    background-color: #FB6C6C;
    color: white;
    display: flex;
    padding: 24px;
}

.infoContainer{
    background-color: white;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    min-height: 100px;
    margin-top: -32px;
} */

.pokeCardSection{
    display: flex;
    justify-content: center;
    padding-top: 80px;
}

.pokeCardContent{
    padding: 40px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 1440px;
    width: 100%;
    gap: 16px;
}

.pokeCard{
    background-image: url(./img/pokeballs/cardImg.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 350px;
}

.pokeCard h2{
    background-color: black;
    border-radius: 16px;
    padding: 8px 24px 8px 24px;
    text-transform: uppercase
}

#PokemonImg{
    height: 200px;
}

#PokemonImg:hover{
    cursor: pointer;
    transform: scale(1.2);
}

.pokeTypes{
    display: flex;
    gap: 16px;
}

.typOfPokemon{
    background-color: #FB6C6C;
    border-radius: 16px;
    padding: 8px 24px 8px 24px;
}

.MoreButtonSection{
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 40px 0 80px 0;
}

.MoreButton{
    height: 50px;
    width: 150px;
    border-radius: 16px;
    font-size: 16px;
    background-color: #E41F25;
    color: white;
    font-weight: bold;
}

.MoreButton:hover{
    background-color: rgb(207, 61, 66);
    cursor: pointer;
}

.pokeDialog{
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 999;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pokemonView{
    background-color: white;
    height: 80vh;
    width: 50vh;
    border-radius: 24px;
}